<!DOCTYPE html>
<html>
  <head>
    <title>MessageApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    "https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css", media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <%= render 'layouts/flash' %>
    <div class="container mx-auto px-6 py-6">
      <%= yield %>
    </div>
    <%= debug params if Rails.env.development? %>
  </body>
</html>
